.contentSlider-container{}

.contentSlider-slide{
	margin:0 auto;
}
.contentSlider-slide.active{}
.contentSlider-slide img{
	background-color:#fff;
}

.contentSlider-control-bar{ /* this is a UL element */}
.contentSlider-control-item{ /* this is an LI element, contained inside .contentSlider-control-item */ }
.contentSlider-control-link{ /* this is an anchor element, contained in side .contentSlider-control-item */ }

.contentSlider-control-bar,
.contentSlider-control-item{
	list-style:none;
	margin:0;
	padding:0;
}
.contentSlider-control-bar{
    position: absolute;
    width:auto;
    height:auto;
}
.contentSlider-control-bar .contentSlider-control-item{
    float:left;
}

.contentSlider-control-bar .contentSlider-control-link {
    background-image: url('images/indicator-sprite-20x40.png');
    background-position: 0 0;
    display: inline-block;
    height: 20px;
    margin: 0 0 0 4px;
    padding: 0;
    text-indent: -9999em;
    width: 20px;
    *display: block;
    *float: left;
}
.contentSlider-control-bar .contentSlider-control-link.active {
    background-position: 0 -20px;
}

